<!DOCTYPE html>
<html>
<head>
	<link href="public/assets/css/miestilo.css" rel="stylesheet">
	<title>Ejemplo 1</title>
</head>
<body>
	<header>
		<a><img src="public/assets/img/logo-nike.jpg"></a>
	</header>

	<nav class="menu">
		<ul>
			<li><a href="https://espanol.yahoo.com/?p=us">Yahoo</a></li>
			<li><a href="https://www.google.com/?hl=es">Google</a></li>
			<li><a href="https://virtual.unne.edu.ar/web2015/index.php">UNNE</a></li>
		</ul>
	</nav>

	<div class="titulo">
		<h1>Bienvenidos a Taller de Programacion I</h1>
	</div>

	<div class="parrafo">
		<p>Hoy solo práctico de configuración</p>
	</div>
	
	<div class="container">
		<p>
			Hola mi nombre es Santiago y curso la materia Taller de Programacion I dentro
			de lo que es la carrera de Licenciatura en Sistemas de Información
		</p>

		<style>
			p {
				background-color: rgba(100, 00, 00,);
				color: rgb(0, 0, 0);
				font-weight: bold;
				margin: 5rem;
			}
		</style>
		<p>
			Vamos a seguir probando todo lo que tiene que ver con CSS
			Sin olvidar como usar parrafos en html
		</p>
	</div>

	<footer>
		<p>Derechos Reservados</p>
	</footer>
</body>
</html>